<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Set和Map</title>
</head>
<body>
    <div>
        <p>1</p>
        <p>2</p>
        <p>3</p>
    </div>
    
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
<script src="../lib/babel.min.js"></script>
<script src="../lib/jquery-1.11.3.min.js"></script>
<script src="../js/ten.js"></script>

<script>
    
</script>
</body>
</html>

